.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.board-row {
    display: flex;
    justify-content: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 56px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.reset-button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
